# Lab Exercises

## Processing Data with Python, Part 2

---

Getting the hard part out of the way, let's import `pandas` and get our data set up.

In [2]:
import pandas as pd

chip = pd.read_csv("chipotle.tsv", sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

---

#### **Exercise 1**

Display a random 10 rows from this Dataframe.

In [5]:
import random
#this grabs 10 rows all 10 choices are randomly generated and different each run
chip.iloc[[random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622),random.randrange(1,4622)]]

,order_id,quantity,item_name,choice_description,item_price
1556,632,1,Steak Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",11.75
1171,482,1,Chips and Guacamole,NaN,4.45
4090,1638,1,Chips and Fresh Tomato Salsa,NaN,2.39
575,236,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",9.25
2631,1045,1,Chips,NaN,2.15
1855,752,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.49
1495,607,1,Canned Soft Drink,[Sprite],1.25
3231,1293,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
2668,1059,1,Chicken Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",8.75
883,365,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25

#### **Exercise 2**

Calculate the average item price "the hard way," by summing the values in the column and dividing. Just like you did in math class. (Sorry.)

In [6]:
total_Price = int(0)
for index, row in chip.iterrows():
    total_Price += row["item_price"]
#calculate the average item price by dividing the total_Price and dividing by the total number of rows
avg_IP = total_Price / len(chip)
print("Average Item Price: $",avg_IP)

Average Item Price: $ 7.464335785374397

#### **Exercise 3**

Now, calculate the mean again, using a pandas function. This is the easy way to do the above.

In [7]:
#this does the same as above using a built in pandas function
print("Average Item Price: $",chip.item_price.mean())

Average Item Price: $ 7.464335785374397

#### **Exercise 4**

How many unique items have people ordered? What I mean by this is how many different things are there recorded for "item names," not how many orders there are in total.

List the items and how many there are. (Hint: The functions for doing those two things differ only by one letter.)

In [8]:
items = chip["item_name"].unique()
print("Number of unique items ordered: \n",items.size)
print("Names of Unique items ordered:\n", items)

Number of unique items ordered:
 50
Names of Unique items ordered:
 ['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

#### **Exercise 5**
Using a query mask, create a new dataframe of just the times where more than one item was ordered. In other words, if `quantity > 1`, keep the row. If not, drop the row. 

Then, print the first ten items in the new DataFrame.

In [9]:
#create a new subset of data from our larger set
QG1 = chip.query("quantity > 1")
#print out the smaller set of orders where the quantity > 1 
QG1

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
18,9,2,Canned Soda,[Sprite],2.18
51,23,2,Canned Soda,[Mountain Dew],2.18
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",17.98
...,...,...,...,...,...
4491,1786,4,Canned Soft Drink,[Sprite],5.00
4499,1789,2,Canned Soft Drink,[Coke],2.50
4560,1812,2,Canned Soft Drink,[Coke],2.50
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",17.50
4582,1822,2,Bottled Water,NaN,3.00

#### **Exercise 6**

Using a query mask and [Pandas string methods](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling), create a new dataframe of just the times people ordered chips. Print the first five such times.

In [4]:
#create a new subset of data from our larger set
QG1 = chip.query("item_name == 'Chips and Fresh Tomato Salsa' | item_name == 'Chips and Tomatillo-Green Chili Salsa' | item_name == 'Chips and Guacamole' | item_name == 'Chips and Tomatillo Green Chili Salsa' | item_name == 'Chips and Tomatillo Red Chili Salsa' | item_name == 'Chips and Roasted Chili-Corn Salsa' | item_name == 'Chips and Roasted Chili Corn Salsa' | item_name == 'Chips and Tomatillo-Red Chili Salsa' | item_name == 'Chips and Mild Fresh Tomato Salsa' | item_name == 'Chips' | item_name == 'Side of Chips'")
#prints out the five first times that people ordered just chips
QG1.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Side of Chips,NaN,1.69
10,5,1,Chips and Guacamole,NaN,4.45
14,7,1,Chips and Guacamole,NaN,4.45

#### **Exercise 7**

What's the average item price of our "chips and something" subset?

In [5]:
#create a new subset of data from our larger set
print("Average Item Price of the Chips and something subset: $",QG1.item_price.mean())

Average Item Price of the Chips and something subset: $ 3.482822878228758

#### **Exercise 8**

In this last exercise, you'll be doing our job for us. Check out the [WPRDC website](https://data.wprdc.org/dataset). Spend a few minutes looking through the available datasets, and pick one that you think is cool.

Fill out the following information about it:

**name of the dataset**:

link:https://data.wprdc.org/dataset/uniform-crime-reporting-data

Who/what submitted this data to the WPRDC?
- The City Of Pittsburgh

What information do I need to interpret this data? Is there a data dictionary? Is there any important information about the dataset missing?
- Yes there is a data dictioary, You would need either a crime, an area, or and officer to be able to interpret the data.

Why is this data of use to people in Pittsburgh? Could it be useful to anyone else: activists, politicians, researchers, companies? 
- This data is useful to be able to check and see where the high crime areas are. Can also be used to check out if your new home is safe or not. It could be useful to all the listed above.

Can you think of any questions you want to ask of this dataset?
- What cop is the most violent offender? What area is the worst? what day is crime most likey to happen on?

Is this a good dataset, in your opinion?
- Yes, I believe this a good dataset with alot avaiable for people to learn from it.