# Lab Exercises

## Processing Data with Python, Part 1

### Help

If you need help, please contact one of the TAs for the course.

All TAs from this course can answer your questions, so feel free to attend any of the office hours that fit your schedule

Submit your completed Jupyter notebook on Canvas. You don't need to submit any other files, I have them. :D

----

## Exercises

The exercises for this week are varied, but some deal with `chipotle.tsv`, a dataset concerning Chipotle orders. If you run into any trouble, you may find the texts for this section of the course helpful:

* [The Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/), by Jake VanderPlas, or
* [Python for Data Analysis](https://proquest.safaribooksonline.com/9781491957653), by Wes McKinney.

Oh yeah, and let's import pandas for this notebook.

In [1]:
import pandas as pd

----

#### **Exercise 1**

Using the `iloc` and slicing syntax, slice the following dataframe based on the highlighted blocks in the image. 

First, think of the slicing syntax to grab just the rows you want. Then, think of the slicing syntax for the columns you want. 

Put the row slices *before* the comma and the column slices *after* the comma.

In [6]:
# here's our DataFrame
indexing_example = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
#this grabs rows 0 and 1 along with columns 1,2
#prints
#1	2
#0	2	3
#1	5	6
indexing_example.iloc[[0,1],[1,2]]

   1  2
0  2  3
1  5  6

Select the second two columns of the first two rows.  

![first slice exercise](img/indexing1.png)

In [13]:
# put the slicing syntax in your answer here
# grabs only the last row of the cube and all three columns of that last row
indexing_example.iloc[[0,1],[1,2]]
#prints out
/*
1	2
0	2	3
1	5	6
*/

   1  2
0  2  3
1  5  6

Select the third row.

![first slice exercise](img/indexing2.png)

In [11]:

indexing_example.iloc[[2],[0,1,2]]

   0  1  2
2  7  8  9

Select the first two columns.

![first slice exercise](img/indexing3.png)

In [10]:
# your answer here!
indexing_example.iloc[[0,1,2],[0,1]]

   0  1
0  1  2
1  4  5
2  7  8

Select the first two columns of the second row.

![first slice exercise](img/indexing4.png)

In [9]:
# your answer here!
indexing_example.iloc[[1],[0,1]]

   0  1
1  4  5

#### **Exercise 2**

You're going to be working with Chipotle data from here on out. The data is in a file called `chipotle.tsv`. Since this is a tab-separated file (not a CSV, which uses commas), you'll have to specify `sep='\t'` on your read function.

Import your dataset from `chipotle.tsv` and assign it to a variable called `chip`. Then, view the first 10 entries in your new DataFrame.

In [52]:
import pandas as chipo
#reads in the csv into the chip object with a custom seperator of tab
chip = chipo.read_csv('chipotle.tsv',sep= '\t')
#prints out the first 10 rows and all columns of the rows
chip.iloc[[0,1,2,3,4,5,6,7,8,9]]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

#### **Exercise 3**

Print the total number of observations in the DataFrame. There are a number of ways you can do this, but the value will be how many individual things were ordered at Chipotle.

In [8]:
import pandas as chipo
#reads in the csv into the chip object with a custom seperator of tab
total_Item_Ordered = int(0)
#chip is now our data frame
chip = chipo.read_csv('chipotle.tsv',sep= '\t')
#for index, row in chip.iterrows():
    #total_Item_Ordered += row["quantity"]
print("-----Total number of Observations in the DataFrame-----")
#now we print the number of items ordered in the the whole data selection
len(chip)

-----Total number of Observations in the DataFrame-----

4622

#### **Exercise 4**

Print the number of columns in the DataFrame, and then print the names of all columns in the DataFrame. This will give you a guide to how the DataFrame is indexed.

In [50]:

#reads in the csv into the chip object with a custom seperator of tab
#chip is now our data frame
chip = chipo.read_csv('chipotle.tsv',sep= '\t')
#now we print the number of rows in our data fram ie chip
x = int(0)
#while x is less than the number of rows in the data frame
while x < len(chip.columns):
    #print out that columns corresponding id, speical print that has the \n wait until the end of the loop
    print("  ",x, "        ", end = " ")
    #increment the counter by one
    x =x + 1
#then print the column names
list(chip.columns)

   0             1             2             3             4

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

#### **Exercise 5**

Calculate, for each order number, how much the order costs. 

In other words, you're going to iterate through the DataFrame and, for each order number, add up the `item_price` for each item in the order.

Store the order prices in a list. Then, tell me how much the 100th, 500th, and 1000th order cost.

In [6]:
#reads in the csv into the chip object with a custom seperator of tab
#chip is now our data frame
chip = chipo.read_csv('chipotle.tsv',sep= '\t')
line_Total = int(0)
total = int(0)
orderT_List = []
#order id starts at 1
old_OrID = 1
#will change when a new id comes in
new_OrID = 0
#orders will have multtiple items under the same id
for index, row in chip.iterrows():
    new_OrID = row["order_id"]
    #check if its still the same order
    if new_OrID == old_OrID:
        line_Total += row["item_price"]
    #the old order is done this is a new one
    else:
        #append that order to the list
        orderT_List.append(line_Total)
        #reset the line total
        line_Total = 0
        #the old id should be the new id now
        old_OrID = new_OrID
        line_Total += row["item_price"]
    #total of all the orders
    total += row["item_price"]
print("Order Total for the 100th order: ", orderT_List[99])
#order number 100 is two items
# steak burrito 8.99
# canned soda 1.09
# Total: 10.08
print("Order Total for the 500th order: ", orderT_List[499])
#order number 500 is three items
# chicken bowl 8.75
# canned soda 1.25
# chips 2.15
# Total: 12.15
print("Order Total for the 1000th order: ", orderT_List[999])
#order number 1000 is two items
# barbacoa bowl 9.25
# chicken bowl 11.09
# Total: 20.50

#print("Total of all orders $", total)
#sanity check dumps the rows for those three orders on screen to double check
#chip.iloc[[227,228,1226,1227,1228,2517,2518]]

Order Total for the 100th order:  10.08
Order Total for the 500th order:  12.15
Order Total for the 1000th order:  20.5

,order_id,quantity,item_name,choice_description,item_price
227,100,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Bla...",8.99
228,100,1,Canned Soda,[Mountain Dew],1.09
1226,500,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",8.75
1227,500,1,Chips,NaN,2.15
1228,500,1,Canned Soft Drink,[Diet Coke],1.25
2517,1000,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.25
2518,1000,1,Chicken Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.25

#### **Exercise 6**

This assignment is a bit tricky! Check out the Python for Everyone's section on [dictionaries](https://www.py4e.com/html3/09-dictionaries) if you're confused.

Make a new dictionary. Then, iterate through the DataFrame. For each `item_name`, do the following:

* if `dict[item_name]` exists, add `quantity` to it;
* if not, set `dict[item_name]` to `quantity`;

You're essentially counting the number of times that a given item has been ordered.

In [119]:
dict = {"item_name":"","quantity":0}
#iterate over the orders, grabbing the item's name and quantity
for index, row in chip.iterrows():
    item_name = row["item_name"]
    item_quantity = row["quantity"]
    #check if the item is already in the dictionary
    if item_name in dict.keys():
        #it is, so update the quantity
        dict[item_name] += item_quantity
    else:
        #its not, so add the item to the dictionary
        dict[item_name] = item_quantity
#print out the key value pairings to the screen
#this shows us the number of times all the items have been ordered
dict

{'item_name': '',
 'quantity': 0,
 'Chips and Fresh Tomato Salsa': 130,
 'Izze': 20,
 'Nantucket Nectar': 29,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Chicken Bowl': 761,
 'Side of Chips': 110,
 'Steak Burrito': 386,
 'Steak Soft Tacos': 56,
 'Chips and Guacamole': 506,
 'Chicken Crispy Tacos': 50,
 'Chicken Soft Tacos': 120,
 'Chicken Burrito': 591,
 'Canned Soda': 126,
 'Barbacoa Burrito': 91,
 'Carnitas Burrito': 60,
 'Carnitas Bowl': 71,
 'Bottled Water': 211,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Barbacoa Bowl': 66,
 'Chips': 230,
 'Chicken Salad Bowl': 123,
 'Steak Bowl': 221,
 'Barbacoa Soft Tacos': 25,
 'Veggie Burrito': 97,
 'Veggie Bowl': 87,
 'Steak Crispy Tacos': 36,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Barbacoa Crispy Tacos': 12,
 'Veggie Salad Bowl': 18,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Carnitas Soft Tacos': 40,
 'Chicken Salad': 9,
 'Canned Soft Drink': 351,
 'Steak Salad Bowl': 31,
 '6 Pack Soft Drink': 55,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Bowl': 4,
 'Burrito': 6,
 'Crispy Tacos': 2,
 'Carnitas Crispy Tacos': 8,
 'Steak Salad': 4,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Veggie Soft Tacos': 8,
 'Carnitas Salad Bowl': 6,
 'Barbacoa Salad Bowl': 10,
 'Salad': 2,
 'Veggie Crispy Tacos': 1,
 'Veggie Salad': 6,
 'Carnitas Salad': 1}